/* Estilização padrão do menu em telas grandes */

/* CSS Geral */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Para referência do posicionamento absoluto */
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

/* Estilo do ícone de hambúrguer - escondido por padrão em telas grandes */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 760px) {
  .nav-links {
    position: absolute;
    top: 60px; /* Ajuste este valor para posicionar abaixo do cabeçalho */
    left: 0;
    right: 0;
    background: #fff; /* ou a cor que desejar */
    flex-direction: column;
    align-items: center; /* opcional, para centralizar os links */
    display: none; /* Esconde os links por padrão */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Exibe o ícone de hambúrguer */
  .hamburger {
    display: block;
  }

  /* Quando o menu estiver ativo */
  .nav-links.active {
    display: flex;
  }

  /* Opcional: ajuste nos itens do menu para espaçamento */
  .nav-links li {
    margin: 10px 0;
  }
}
